<%- include('layout/header') %>
<div>
<section class="container py-5 h-100" >
  <div class="container px-5">
    <div class="row gx-8">
      <div class="col" >
        <a href="/get_Customer"> 
            <div class="p-5 border"  style="background-color: #0fd4a3">
              <img src="./img/User Management.svg"  width="150px" height="150px" class="container">
              <br/>
              <br/>
              <center><h1><b>User Management</b></h1></center>
              <br/>
            </div>
        </a>
      </div>
      <div class="col">
        <a href="/employee_Management" > 
            <div class="p-5 border" style="background-color: #0fd4a3">
              <img src="./img/Employee Management.svg" width="150px" height="150px" class="container">
              <br/>
              <br/>
               <center><h1><b>Employee Management</b></h1></center>
              <br/>
              </a>
      </div>
    </div>
  </div>
  </section>
  <section class="container py-5 h-100" >
    <div class="container px-4">
        <div class="row gx-8">
          <div class="col" >
            <a href="/All_Architect" > 
                <div class="p-5 border" style="background-color: #0fd4a3">
                  <img src="img/architect.svg"  width="150px" height="150px" class="container">
                  <br/>
                  <br/>
                  <center><h2><b>Architecturers Management</b></h2></center>
                  <br/>
                  <center><a href="/all_architect_requirements"><button type="button" class="btn btn-success btn-lg">VIEW REQUIREMENTS
                  </button></a>
                  </center>
                  <br/>
                  <center><a href="/add_Architect"><button type="button" class="btn btn-success btn-lg">ADD ARCHITECTURE
                  </button></a>
                  </center>
                  <br/>                  
                  </div>
                </a>
          </div>
          <div class="col">
            <a href="/allIntiriorDesigner" > 
                <div class="p-5 border" style="background-color: #0fd4a3">
                  <img src="img/interior.svg"  width="150px" height="150px" class="container">
                  <br/>
                  <br/>
                  <center><h2><b>Interior Designers Management</b></h2></center>
                  <br/>
                  <center><a href="/allClientIntiriorDesignerReq"><button type="button" class="btn btn-success btn-lg">VIEW REQUIREMENTS
                  </button></a>
                  </center>
                  <br/>
                  <center><a href="/addIntiriorDesigner"><button type="button" class="btn btn-success btn-lg">ADD INTERIOR DESIGNER
                  </button></a>
                  </center>
                  <br/>
                </div>
              </a>
          </div>
          <div class="col">
            <a href="/allAdminGD" > 
                <div class="p-5 border" style="background-color: #0fd4a3" >
                  <img src="img/gardendesiners.svg"  width="150px" height="150px" class="container">
                  <br/>
                  <br/>
                  <center><h2><b>Garden Designers Management</b></h2></center>
                <br/>
                <center><a href="/allClientGDReq"><button type="button" class="btn btn-success btn-lg">VIEW REQUIREMENTS
                </button></a>
                </center>
                <br/>
                <center><a href="/addAdminGD"><button type="button" class="btn btn-success btn-lg">ADD GARDEN DESIGNER
                </button></a>
                </center>
                <br/>
                </div>
              </a>
          </div>
        </div>
    </div>
</section>
</div>





<%- include('layout/footer') %>
