<%- include('layout/header')%>
<div>
  <!-- Team Start -->
  <div class="team">
    <div class="container">
      <div class="section-header text-center">
        <p>Our Services</p>
        <h2>We Provide Services</h2>
      </div>
      <div class="row" style="margin-left: 230px">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item">
            <a href="/client_all_architects">
              <div class="team-img">
                <img src="img/Archi.jpg" alt="Team Image" />
              </div>

              <div class="team-text">
                <h2>Architecture Design</h2>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="team-item">
            <div class="team-img">
              <!-- < href="/allClientIntiriorDesigner">
              <img src="img/InteroriE.png" alt="Team Image" />
            </a> -->
             <a href="/allClientIntiriorDesigner">
                <img src="img/InteroriE.png" alt="Team Image" />
              </a>
            </div>
            <div class="team-text">
              <h2>Interior Design</h2>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
          <div class="team-item">
            <div class="team-img">
              <a href="/allClientGD">
                <img src="img/GardenE.jpg" alt="Team Image" />
              </a>
            </div>
            <div class="team-text">
              <h2>Garden Design</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team End -->
</div>

<%- include('layout/footer')%>
