<%- include('layout/header') %>
<div>
<section class="container py-5 h-100" >
  <div class="container px-5">
    <div class="row gx-8">
      <div class="col" >
        <a href="/ClientHome"> 
            <div class="p-5 border"  style="background-color: #0fd4a3">
              <center><h1><b>Client Home Page</b></h1></center>
              <br/>
            </div>
        </a>
      </div>
      <div class="col">
        <a href="/AdminHome" > 
            <div class="p-5 border" style="background-color: #0fd4a3">
               <center><h1><b>Admin Home Page</b></h1></center>
              <br/>
              </a>
      </div>
    </div>
  </div>
  </section>
  <section class="container py-5 h-100" >
    <div class="container px-4">
        <div class="row gx-8">
        </div>
    </div>
</section>
</div>





<%- include('layout/footer') %>
