<%- include('layout/header') %>

<center>
  <div class="row my-5">
    <div class="container">
      <a href="/add_Employee"
        ><button type="button" class="btn btn-success btn-lg">
          Employee Registartion
        </button></a
      >&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/get_Employee"
        ><button type="button" class="btn btn-success btn-lg">
          View Employees
        </button></a
      >&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/add_Customer"
        ><button type="button" class="btn btn-success btn-lg">
          Add Customer
        </button>
      </a>
    </div>
  </div>

  

  
</center>
<%- include('layout/footer') %>
